*.class

*.log
*.tmp
*.pid
*.gz
hs_err_pid*
replay_pid*
dumpstream*

target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
*.classpath
*.project
*.settings/

.classpath
.settings/*

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
